<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<link href="https://pnt2022tmid47819.s3.au-syd.cloud-object-storage.appdomain.cloud/style.css" rel="stylesheet"></link>
</head>
<body>
    <div class="main-div main-div3">
        <h1>SMART FASHION DRESS RECOMMENDER</h1>
      </div>

    <div class="wrapper">
        <div class="main-div main-div1">
         <img style="height:300px ;width:300px" src="https://pnt2022tmid47819.s3.au-syd.cloud-object-storage.appdomain.cloud/pexels-luca-nardone-3651597.jpg">
        </div>
        <div class="main-div main-div2">
            <img style="height:300px ;width:300px" src="https://pnt2022tmid47819.s3.au-syd.cloud-object-storage.appdomain.cloud/pexels-anders-kristensen-447570.jpg">
        </div>
        <div class="main-div main-div3">
            <img style="height:300px ;width:300px" src="https://pnt2022tmid47819.s3.au-syd.cloud-object-storage.appdomain.cloud/pexels-pixabay-532220.jpg">

        </div>
        <div class="main-div main-div1">
             <img style="height:300px ;width:300px"  src="https://pnt2022tmid47819.s3.au-syd.cloud-object-storage.appdomain.cloud/pexels-samarth-singhai-1193941.jpg">
          </div>
          <div class="main-div main-div2">
             <img style="height:300px ;width:300px"  src="https://pnt2022tmid47819.s3.au-syd.cloud-object-storage.appdomain.cloud/pexels-the-lazy-artist-gallery-1342609.jpg">
          </div>
          <div class="main-div main-div3">
             <img style="height:300px ;width:300px" src="https://pnt2022tmid47819.s3.au-syd.cloud-object-storage.appdomain.cloud/pexels-marcelo-chagas-2229490.jpg">
          </div>
      </div>

      <script>
        window.watsonAssistantChatOptions = {
          integrationID: "f8a46e23-c341-49d8-a027-efb51b95520e", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "66b84711-c7ea-4453-b339-f9f91239c4aa", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
    
</body>
</html>









































