<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCOUNT</title>
    
<link href="{{url_for('static', filename='css/assets/dist/css/bootstrap.min.css')}}"  rel="stylesheet">
    <style>
        .center {
display: flex;
justify-content: center;
}
    </style>
</head>
<body>
    <div class="center">
        <H1>Your Account Has Been Created Successfully</H1>
      
        <br>
        <BR>
        <img src="https://ms-researchhub.com/____impro/1/onewebmedia/payment_successful.gif?etag=W%2F%2230e24-5cfa202d%22&sourceContentType=image%2Fgif&ignoreAspectRatio&resize=300%2B255&extract=0%2B20%2B285%2B234">
     
    </div>
    <br>
    <div class="center">
        <form action ="/login">
            <button class="w-40 btn btn-lg btn-danger" type="submit">Go to Sign in Page</button>
        </form>
   
    </div>
 
</body>
</html>